##############################
## Java
##############################
*.class

##############################
## IntelliJ
##############################
out/
.idea/
*.iml

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.classpath
.project